body {
    
    background-color: red;
}

.App {
    display: flex;
    justify-content: space-evenly;
    align-items: center
}

.map {
    display: flex;
    justify-content: space-evenly;
    align-items: center
}

.cutWidth {
    width: 80%
}

.capital {
    font-weight: bold;
}

.stateName {
    font-weight: bold;
    text-decoration: underline;
}

path {
    pointer-events: all;
  }
  path:hover {
    opacity: 0.50;
    cursor: pointer;
  }